@font-face {
  font-family: 'nxp-icon';
  src: url('../font/nxp-icon.eot?89482406');
  src: url('../font/nxp-icon.eot?89482406#iefix') format('embedded-opentype'),
       url('../font/nxp-icon.woff2?89482406') format('woff2'),
       url('../font/nxp-icon.woff?89482406') format('woff'),
       url('../font/nxp-icon.ttf?89482406') format('truetype'),
       url('../font/nxp-icon.svg?89482406#nxp-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'nxp-icon';
    src: url('../font/nxp-icon.svg?89482406#nxp-icon') format('svg');
  }
}
*/
[class$="icon-"]:before, [class*="icon- "]:before {
  font-family: "nxp-icon";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fa-align-lefticon-:before { content: '\e800'; } /* '' */
.fa-archwayicon-:before { content: '\e801'; } /* '' */
.fa-arrow-downicon-:before { content: '\e802'; } /* '' */
.fa-arrow-lefticon-:before { content: '\e803'; } /* '' */
.fa-arrow-righticon-:before { content: '\e804'; } /* '' */
.fa-arrow-to-righticon-:before { content: '\e805'; } /* '' */
.fa-arrow-up-arrow-downicon-:before { content: '\e806'; } /* '' */
.fa-arrow-upicon-:before { content: '\e807'; } /* '' */
.fa-badge-checkicon-:before { content: '\e808'; } /* '' */
.fa-barsicon-:before { content: '\e809'; } /* '' */
.fa-battery-fullicon-:before { content: '\e80a'; } /* '' */
.fa-battery-halficon-:before { content: '\e80b'; } /* '' */
.fa-battery-lowicon-:before { content: '\e80c'; } /* '' */
.fa-battery-slashicon-:before { content: '\e80d'; } /* '' */
.fa-book-openicon-:before { content: '\e80e'; } /* '' */
.fa-camera-webicon-:before { content: '\e80f'; } /* '' */
.fa-caret-downicon-:before { content: '\e810'; } /* '' */
.fa-caret-lefticon-:before { content: '\e811'; } /* '' */
.fa-caret-righticon-:before { content: '\e812'; } /* '' */
.fa-carsicon-:before { content: '\e813'; } /* '' */
.fa-caret-upicon-:before { content: '\e814'; } /* '' */
.fa-chevron-upicon-:before { content: '\e815'; } /* '' */
.fa-chalkboard-usericon-:before { content: '\e816'; } /* '' */
.fa-circle-checkicon-:before { content: '\e817'; } /* '' */
.fa-circle-infoicon-:before { content: '\e818'; } /* '' */
.fa-cityicon-:before { content: '\e819'; } /* '' */
.fa-clock-eighticon-:before { content: '\e81a'; } /* '' */
.fa-clock-fiveicon-:before { content: '\e81b'; } /* '' */
.fa-compressicon-:before { content: '\e81c'; } /* '' */
.fa-cloud-sleeticon-:before { content: '\e81d'; } /* '' */
.fa-conveyor-belt-emptyicon-:before { content: '\e81e'; } /* '' */
.fa-closeicon-:before { content: '\e81f'; } /* '' */
.fa-copyicon-:before { content: '\e820'; } /* '' */
.fa-crosshairsicon-:before { content: '\e821'; } /* '' */
.fa-diamond-turn-righticon-:before { content: '\e822'; } /* '' */
.fa-ellipsis-verticalicon-:before { content: '\e823'; } /* '' */
.fa-expandicon-:before { content: '\e824'; } /* '' */
.fa-external-linkicon-:before { content: '\e825'; } /* '' */
.fa-eye-slashicon-:before { content: '\e826'; } /* '' */
.fa-face-mehicon-:before { content: '\e827'; } /* '' */
.fa-eyeicon-:before { content: '\e828'; } /* '' */
.fa-face-smileicon-:before { content: '\e829'; } /* '' */
.fa-file-certificateicon-:before { content: '\e82a'; } /* '' */
.fa-filtericon-:before { content: '\e82b'; } /* '' */
.fa-gauge-lowicon-:before { content: '\e82c'; } /* '' */
.fa-gauge-medicon-:before { content: '\e82d'; } /* '' */
.fa-gauge-minicon-:before { content: '\e82e'; } /* '' */
.fa-gauge-simple-maxicon-:before { content: '\e82f'; } /* '' */
.fa-gauge-simple-medicon-:before { content: '\e830'; } /* '' */
.fa-gauge-simple-minicon-:before { content: '\e831'; } /* '' */
.fa-gaugeicon-:before { content: '\e832'; } /* '' */
.fa-gavelicon-:before { content: '\e833'; } /* '' */
.fa-hand-pointericon-:before { content: '\e834'; } /* '' */
.fa-hand-waveicon-:before { content: '\e835'; } /* '' */
.fa-heart-pulseicon-:before { content: '\e836'; } /* '' */
.fa-keyicon-:before { content: '\e837'; } /* '' */
.fa-hourglassicon-:before { content: '\e838'; } /* '' */
.fa-laptop-mobileicon-:before { content: '\e839'; } /* '' */
.fa-long-arrow-lefticon-:before { content: '\e83a'; } /* '' */
.fa-long-arrow-righticon-:before { content: '\e83b'; } /* '' */
.fa-marsicon-:before { content: '\e83c'; } /* '' */
.fa-microchipicon-:before { content: '\e83d'; } /* '' */
.fa-mobile-signalicon-:before { content: '\e83e'; } /* '' */
.fa-motorcycleicon-:before { content: '\e83f'; } /* '' */
.fa-pauseicon-:before { content: '\e840'; } /* '' */
.fa-person-diggingicon-:before { content: '\e841'; } /* '' */
.fa-person-simpleicon-:before { content: '\e842'; } /* '' */
.fa-phone-flipicon-:before { content: '\e843'; } /* '' */
.fa-play-circleicon-:before { content: '\e844'; } /* '' */
.fa-playicon-:before { content: '\e845'; } /* '' */
.fa-plusicon-:before { content: '\e846'; } /* '' */
.fa-questionicon-:before { content: '\e847'; } /* '' */
.fa-redoicon-:before { content: '\e848'; } /* '' */
.fa-routeicon-:before { content: '\e849'; } /* '' */
.fa-search-plusicon-:before { content: '\e84a'; } /* '' */
.fa-searchicon-:before { content: '\e84b'; } /* '' */
.fa-sensor-cloudicon-:before { content: '\e84c'; } /* '' */
.fa-sensoricon-:before { content: '\e84d'; } /* '' */
.fa-share-nodesicon-:before { content: '\e84e'; } /* '' */
.fa-sign-outicon-:before { content: '\e84f'; } /* '' */
.fa-skullicon-:before { content: '\e850'; } /* '' */
.fa-sparklesicon-:before { content: '\e851'; } /* '' */
.fa-speakericon-:before { content: '\e852'; } /* '' */
.fa-spinnericon-:before { content: '\e853'; } /* '' */
.fa-step-backwardicon-:before { content: '\e854'; } /* '' */
.fa-step-forwardicon-:before { content: '\e855'; } /* '' */
.fa-stopwatchicon-:before { content: '\e856'; } /* '' */
.fa-temperature-fullicon-:before { content: '\e857'; } /* '' */
.fa-temperature-halficon-:before { content: '\e858'; } /* '' */
.fa-temperature-quartericon-:before { content: '\e859'; } /* '' */
.fa-tree-deciduousicon-:before { content: '\e85a'; } /* '' */
.fa-triangle-exclamationicon-:before { content: '\e85b'; } /* '' */
.fa-unlock-keyholeicon-:before { content: '\e85c'; } /* '' */
.fa-user-largeicon-:before { content: '\e85d'; } /* '' */
.fa-venusicon-:before { content: '\e85e'; } /* '' */
.fa-video-1icon-:before { content: '\e85f'; } /* '' */
.fa-video-slashicon-:before { content: '\e860'; } /* '' */
.fa-videoicon-:before { content: '\e861'; } /* '' */
.fa-volume-lowicon-:before { content: '\e862'; } /* '' */
.fa-volume-muteicon-:before { content: '\e863'; } /* '' */
.fa-volumeicon-:before { content: '\e864'; } /* '' */
.fa-watch-appleicon-:before { content: '\e865'; } /* '' */
.fa-wave-pulseicon-:before { content: '\e866'; } /* '' */
.fa-waveform-linesicon-:before { content: '\e867'; } /* '' */
.fa-wifi-fairicon-:before { content: '\e868'; } /* '' */
.fa-wifi-slashicon-:before { content: '\e869'; } /* '' */
.fa-wifiicon-:before { content: '\e86a'; } /* '' */
.nxp-5gicon-:before { content: '\e86b'; } /* '' */
.nxp-360icon-:before { content: '\e86c'; } /* '' */
.nxp-absicon-:before { content: '\e86d'; } /* '' */
.nxp-accessicon-:before { content: '\e86e'; } /* '' */
.nxp-adasicon-:before { content: '\e86f'; } /* '' */
.nxp-aerospaceicon-:before { content: '\e870'; } /* '' */
.nxp-ai-mlicon-:before { content: '\e871'; } /* '' */
.nxp-aiicon-:before { content: '\e872'; } /* '' */
.nxp-airbagicon-:before { content: '\e873'; } /* '' */
.nxp-alerticon-:before { content: '\e874'; } /* '' */
.nxp-amazonicon-:before { content: '\e875'; } /* '' */
.nxp-analog-signalicon-:before { content: '\e876'; } /* '' */
.nxp-analogicon-:before { content: '\e877'; } /* '' */
.nxp-appicon-:before { content: '\e878'; } /* '' */
.nxp-appleicon-:before { content: '\e879'; } /* '' */
.nxp-appliance-connectedicon-:before { content: '\e87a'; } /* '' */
.nxp-audioicon-:before { content: '\e87b'; } /* '' */
.nxp-authenticationicon-:before { content: '\e87c'; } /* '' */
.nxp-auto-edgeicon-:before { content: '\e87d'; } /* '' */
.nxp-automatedicon-:before { content: '\e87e'; } /* '' */
.nxp-automationicon-:before { content: '\e87f'; } /* '' */
.nxp-battery_1icon-:before { content: '\e880'; } /* '' */
.nxp-battery-systemicon-:before { content: '\e881'; } /* '' */
.nxp-batteryicon-:before { content: '\e882'; } /* '' */
.nxp-biometricicon-:before { content: '\e883'; } /* '' */
.nxp-bluetoothicon-:before { content: '\e884'; } /* '' */
.nxp-brake-system-alternativeicon-:before { content: '\e885'; } /* '' */
.nxp-brake-systemicon-:before { content: '\e886'; } /* '' */
.nxp-buildicon-:before { content: '\e887'; } /* '' */
.nxp-building-controlicon-:before { content: '\e888'; } /* '' */
.nxp-buy-directicon-:before { content: '\e889'; } /* '' */
.nxp-car-ecoicon-:before { content: '\e88a'; } /* '' */
.nxp-caricon-:before { content: '\e88b'; } /* '' */
.nxp-cardicon-:before { content: '\e88c'; } /* '' */
.nxp-careersicon-:before { content: '\e88d'; } /* '' */
.nxp-charge-stationicon-:before { content: '\e88e'; } /* '' */
.nxp-charging-padicon-:before { content: '\e88f'; } /* '' */
.nxp-chaticon-:before { content: '\e890'; } /* '' */
.nxp-circuiticon-:before { content: '\e891'; } /* '' */
.nxp-cloud-authenticationicon-:before { content: '\e892'; } /* '' */
.nxp-cloud-connectivityicon-:before { content: '\e893'; } /* '' */
.nxp-cloud-securityicon-:before { content: '\e894'; } /* '' */
.nxp-cloudicon-:before { content: '\e895'; } /* '' */
.nxp-cockpiticon-:before { content: '\e896'; } /* '' */
.nxp-codeicon-:before { content: '\e897'; } /* '' */
.nxp-comm-solutionsicon-:before { content: '\e898'; } /* '' */
.nxp-communications-1icon-:before { content: '\e899'; } /* '' */
.nxp-communications-2icon-:before { content: '\e89a'; } /* '' */
.nxp-communications-3icon-:before { content: '\e89b'; } /* '' */
.nxp-communications-4icon-:before { content: '\e89c'; } /* '' */
.nxp-communications-5icon-:before { content: '\e89d'; } /* '' */
.nxp-communications-6icon-:before { content: '\e89e'; } /* '' */
.nxp-communications-7icon-:before { content: '\e89f'; } /* '' */
.nxp-communications-8icon-:before { content: '\e8a0'; } /* '' */
.nxp-communityicon-:before { content: '\e8a1'; } /* '' */
.nxp-connectionsicon-:before { content: '\e8a2'; } /* '' */
.nxp-connectivity.solutionicon-:before { content: '\e8a3'; } /* '' */
.nxp-connectivityicon-:before { content: '\e8a4'; } /* '' */
.nxp-contact-readericon-:before { content: '\e8a5'; } /* '' */
.nxp-controlicon-:before { content: '\e8a6'; } /* '' */
.nxp-cookingicon-:before { content: '\e8a7'; } /* '' */
.nxp-corperate-governanceicon-:before { content: '\e8a8'; } /* '' */
.nxp-courseicon-:before { content: '\e8a9'; } /* '' */
.nxp-cross-trafficicon-:before { content: '\e8aa'; } /* '' */
.nxp-dashboardicon-:before { content: '\e8ab'; } /* '' */
.nxp-data-receptionicon-:before { content: '\e8ac'; } /* '' */
.nxp-decreased-alternateicon-:before { content: '\e8ad'; } /* '' */
.nxp-decreasedicon-:before { content: '\e8ae'; } /* '' */
.nxp-defrostingicon-:before { content: '\e8af'; } /* '' */
.nxp-design-resourcesicon-:before { content: '\e8b0'; } /* '' */
.nxp-development-timeicon-:before { content: '\e8b1'; } /* '' */
.nxp-diagramicon-:before { content: '\e8b2'; } /* '' */
.nxp-dishwashericon-:before { content: '\e8b3'; } /* '' */
.nxp-displayicon-:before { content: '\e8b4'; } /* '' */
.nxp-distributorsicon-:before { content: '\e8b5'; } /* '' */
.nxp-domainicon-:before { content: '\e8b6'; } /* '' */
.nxp-downloadicon-:before { content: '\e8b7'; } /* '' */
.nxp-driver-replacementicon-:before { content: '\e8b8'; } /* '' */
.nxp-droneicon-:before { content: '\e8b9'; } /* '' */
.nxp-e-readericon-:before { content: '\e8ba'; } /* '' */
.nxp-ecosystemicon-:before { content: '\e8bb'; } /* '' */
.nxp-edge-cloudicon-:before { content: '\e8bc'; } /* '' */
.nxp-edgeverseicon-:before { content: '\e8bd'; } /* '' */
.nxp-electricicon-:before { content: '\e8be'; } /* '' */
.nxp-encryptionicon-:before { content: '\e8bf'; } /* '' */
.nxp-energy-balanceicon-:before { content: '\e8c0'; } /* '' */
.nxp-energy-chargeicon-:before { content: '\e8c1'; } /* '' */
.nxp-energyicon-:before { content: '\e8c2'; } /* '' */
.nxp-etherneticon-:before { content: '\e8c3'; } /* '' */
.nxp-everything-awareicon-:before { content: '\e8c4'; } /* '' */
.nxp-everything-connectedicon-:before { content: '\e8c5'; } /* '' */
.nxp-everything-efficienticon-:before { content: '\e8c6'; } /* '' */
.nxp-everything-safe-and-secureicon-:before { content: '\e8c7'; } /* '' */
.nxp-everything-smarticon-:before { content: '\e8c8'; } /* '' */
.nxp-expandableicon-:before { content: '\e8c9'; } /* '' */
.nxp-factory-automationicon-:before { content: '\e8ca'; } /* '' */
.nxp-fileicon-:before { content: '\e8cb'; } /* '' */
.nxp-financial-1icon-:before { content: '\e8cc'; } /* '' */
.nxp-financial-2icon-:before { content: '\e8cd'; } /* '' */
.nxp-financial-3icon-:before { content: '\e8ce'; } /* '' */
.nxp-financial-4icon-:before { content: '\e8cf'; } /* '' */
.nxp-financial-5icon-:before { content: '\e8d0'; } /* '' */
.nxp-financial-6icon-:before { content: '\e8d1'; } /* '' */
.nxp-financial-7-1icon-:before { content: '\e8d2'; } /* '' */
.nxp-financial-7icon-:before { content: '\e8d3'; } /* '' */
.nxp-financial-8icon-:before { content: '\e8d4'; } /* '' */
.nxp-financial-9icon-:before { content: '\e8d5'; } /* '' */
.nxp-financial-10icon-:before { content: '\e8d6'; } /* '' */
.nxp-financial-11icon-:before { content: '\e8d7'; } /* '' */
.nxp-financial-12icon-:before { content: '\e8d8'; } /* '' */
.nxp-financial-13icon-:before { content: '\e8d9'; } /* '' */
.nxp-financial-14icon-:before { content: '\e8da'; } /* '' */
.nxp-financial-infosicon-:before { content: '\e8db'; } /* '' */
.nxp-firewallicon-:before { content: '\e8dc'; } /* '' */
.nxp-fuelicon-:before { content: '\e8dd'; } /* '' */
.nxp-gamingicon-:before { content: '\e8de'; } /* '' */
.nxp-get-startedicon-:before { content: '\e8df'; } /* '' */
.nxp-googleicon-:before { content: '\e8e0'; } /* '' */
.nxp-handheld-radioicon-:before { content: '\e8e1'; } /* '' */
.nxp-headlighticon-:before { content: '\e8e2'; } /* '' */
.nxp-health-controlicon-:before { content: '\e8e3'; } /* '' */
.nxp-healthicon-:before { content: '\e8e4'; } /* '' */
.nxp-hearablesicon-:before { content: '\e8e5'; } /* '' */
.nxp-high-voltageicon-:before { content: '\e8e6'; } /* '' */
.nxp-hmiicon-:before { content: '\e8e7'; } /* '' */
.nxp-home-connecivity-solutionsicon-:before { content: '\e8e8'; } /* '' */
.nxp-home-connectivity-solutionsicon-:before { content: '\e8e9'; } /* '' */
.nxp-hr-benefits-1icon-:before { content: '\e8ea'; } /* '' */
.nxp-hr-benefits-2icon-:before { content: '\e8eb'; } /* '' */
.nxp-hr-benefits-3icon-:before { content: '\e8ec'; } /* '' */
.nxp-hr-benefits-4icon-:before { content: '\e8ed'; } /* '' */
.nxp-hr-benefits-5icon-:before { content: '\e8ee'; } /* '' */
.nxp-hr-benefits-6icon-:before { content: '\e8ef'; } /* '' */
.nxp-hr-benefits-7icon-:before { content: '\e8f0'; } /* '' */
.nxp-hr-benefits-8icon-:before { content: '\e8f1'; } /* '' */
.nxp-hr-benefits-9icon-:before { content: '\e8f2'; } /* '' */
.nxp-hvac-tempicon-:before { content: '\e8f3'; } /* '' */
.nxp-hvacicon-:before { content: '\e8f4'; } /* '' */
.nxp-hybridicon-:before { content: '\e8f5'; } /* '' */
.nxp-id-cardicon-:before { content: '\e8f6'; } /* '' */
.nxp-id-deviceicon-:before { content: '\e8f7'; } /* '' */
.nxp-id-ehidicon-:before { content: '\e8f8'; } /* '' */
.nxp-id-eidicon-:before { content: '\e8f9'; } /* '' */
.nxp-id-eppicon-:before { content: '\e8fa'; } /* '' */
.nxp-id-evlicon-:before { content: '\e8fb'; } /* '' */
.nxp-id-fingerprinticon-:before { content: '\e8fc'; } /* '' */
.nxp-id-osicon-:before { content: '\e8fd'; } /* '' */
.nxp-id-rfidicon-:before { content: '\e8fe'; } /* '' */
.nxp-increased-alternateicon-:before { content: '\e8ff'; } /* '' */
.nxp-increasedicon-:before { content: '\e900'; } /* '' */
.nxp-industryicon-:before { content: '\e901'; } /* '' */
.nxp-information_1icon-:before { content: '\e902'; } /* '' */
.nxp-informationicon-:before { content: '\e903'; } /* '' */
.nxp-infotainmenticon-:before { content: '\e904'; } /* '' */
.nxp-innovationicon-:before { content: '\e905'; } /* '' */
.nxp-internationalicon-:before { content: '\e906'; } /* '' */
.nxp-inventoryicon-:before { content: '\e907'; } /* '' */
.nxp-investor-relationsicon-:before { content: '\e908'; } /* '' */
.nxp-iot-securityicon-:before { content: '\e909'; } /* '' */
.nxp-ioticon-:before { content: '\e90a'; } /* '' */
.nxp-labelingicon-:before { content: '\e90b'; } /* '' */
.nxp-legal-1icon-:before { content: '\e90c'; } /* '' */
.nxp-legal-2icon-:before { content: '\e90d'; } /* '' */
.nxp-legal-3icon-:before { content: '\e90e'; } /* '' */
.nxp-legal-4icon-:before { content: '\e90f'; } /* '' */
.nxp-legal-5icon-:before { content: '\e910'; } /* '' */
.nxp-legal-6icon-:before { content: '\e911'; } /* '' */
.nxp-legal-7icon-:before { content: '\e912'; } /* '' */
.nxp-legal-8icon-:before { content: '\e913'; } /* '' */
.nxp-legal-9icon-:before { content: '\e914'; } /* '' */
.nxp-legal-10icon-:before { content: '\e915'; } /* '' */
.nxp-legal-11icon-:before { content: '\e916'; } /* '' */
.nxp-legal-12icon-:before { content: '\e917'; } /* '' */
.nxp-legal-13icon-:before { content: '\e918'; } /* '' */
.nxp-lighticon-:before { content: '\e919'; } /* '' */
.nxp-lightingicon-:before { content: '\e91a'; } /* '' */
.nxp-locationicon-:before { content: '\e91b'; } /* '' */
.nxp-lv-hvicon-:before { content: '\e91c'; } /* '' */
.nxp-managementicon-:before { content: '\e91d'; } /* '' */
.nxp-mcuicon-:before { content: '\e91e'; } /* '' */
.nxp-media-centericon-:before { content: '\e91f'; } /* '' */
.nxp-micro-3icon-:before { content: '\e920'; } /* '' */
.nxp-micro-performanceicon-:before { content: '\e921'; } /* '' */
.nxp-microicon-:before { content: '\e922'; } /* '' */
.nxp-microchip-checkicon-:before { content: '\e923'; } /* '' */
.nxp-mlicon-:before { content: '\e924'; } /* '' */
.nxp-mobile-connectionicon-:before { content: '\e925'; } /* '' */
.nxp-mobile-keyicon-:before { content: '\e926'; } /* '' */
.nxp-mobile-nfcicon-:before { content: '\e927'; } /* '' */
.nxp-mobile-payment-1icon-:before { content: '\e928'; } /* '' */
.nxp-mobile-paymenticon-:before { content: '\e929'; } /* '' */
.nxp-mobile-securityicon-:before { content: '\e92a'; } /* '' */
.nxp-mobile-walleticon-:before { content: '\e92b'; } /* '' */
.nxp-module-emptyicon-:before { content: '\e92c'; } /* '' */
.nxp-module-fullicon-:before { content: '\e92d'; } /* '' */
.nxp-money-alternateicon-:before { content: '\e92e'; } /* '' */
.nxp-moneyicon-:before { content: '\e92f'; } /* '' */
.nxp-motionicon-:before { content: '\e930'; } /* '' */
.nxp-motor-controlicon-:before { content: '\e931'; } /* '' */
.nxp-motoricon-:before { content: '\e932'; } /* '' */
.nxp-musicicon-:before { content: '\e933'; } /* '' */
.nxp-network-securityicon-:before { content: '\e934'; } /* '' */
.nxp-networkicon-:before { content: '\e935'; } /* '' */
.nxp-neural-networkicon-:before { content: '\e936'; } /* '' */
.nxp-night-visionicon-:before { content: '\e937'; } /* '' */
.nxp-notebookicon-:before { content: '\e938'; } /* '' */
.nxp-npx-designicon-:before { content: '\e939'; } /* '' */
.nxp-nxp-blueboxicon-:before { content: '\e93a'; } /* '' */
.nxp-nxp-greenboxicon-:before { content: '\e93b'; } /* '' */
.nxp-onicon-:before { content: '\e93c'; } /* '' */
.nxp-parking-assisticon-:before { content: '\e93d'; } /* '' */
.nxp-parkingicon-:before { content: '\e93e'; } /* '' */
.nxp-passenger-dataicon-:before { content: '\e93f'; } /* '' */
.nxp-paymenticon-:before { content: '\e940'; } /* '' */
.nxp-pc-connecticon-:before { content: '\e941'; } /* '' */
.nxp-performanceicon-:before { content: '\e942'; } /* '' */
.nxp-peripheralsicon-:before { content: '\e943'; } /* '' */
.nxp-phone-key-timericon-:before { content: '\e944'; } /* '' */
.nxp-phone-keyicon-:before { content: '\e945'; } /* '' */
.nxp-planeicon-:before { content: '\e946'; } /* '' */
.nxp-plcicon-:before { content: '\e947'; } /* '' */
.nxp-posicon-:before { content: '\e948'; } /* '' */
.nxp-power-connectionicon-:before { content: '\e949'; } /* '' */
.nxp-powertrainicon-:before { content: '\e94a'; } /* '' */
.nxp-precautionicon-:before { content: '\e94b'; } /* '' */
.nxp-process-automationicon-:before { content: '\e94c'; } /* '' */
.nxp-processoricon-:before { content: '\e94d'; } /* '' */
.nxp-product-samplesicon-:before { content: '\e94e'; } /* '' */
.nxp-product-selectoricon-:before { content: '\e94f'; } /* '' */
.nxp-prototypingicon-:before { content: '\e950'; } /* '' */
.nxp-proximity-sensoricon-:before { content: '\e951'; } /* '' */
.nxp-radar-fusionicon-:before { content: '\e952'; } /* '' */
.nxp-radaricon-:before { content: '\e953'; } /* '' */
.nxp-range-lowicon-:before { content: '\e954'; } /* '' */
.nxp-refrigeratoricon-:before { content: '\e955'; } /* '' */
.nxp-remote-starticon-:before { content: '\e956'; } /* '' */
.nxp-replicateicon-:before { content: '\e957'; } /* '' */
.nxp-retailicon-:before { content: '\e958'; } /* '' */
.nxp-rficon-:before { content: '\e959'; } /* '' */
.nxp-roboticsicon-:before { content: '\e95a'; } /* '' */
.nxp-route-loadingicon-:before { content: '\e95b'; } /* '' */
.nxp-safeicon-:before { content: '\e95c'; } /* '' */
.nxp-safetyicon-:before { content: '\e95d'; } /* '' */
.nxp-scalableicon-:before { content: '\e95e'; } /* '' */
.nxp-scannericon-:before { content: '\e95f'; } /* '' */
.nxp-screenicon-:before { content: '\e960'; } /* '' */
.nxp-secure-thingsicon-:before { content: '\e961'; } /* '' */
.nxp-securityicon-:before { content: '\e962'; } /* '' */
.nxp-sensoricon-:before { content: '\e963'; } /* '' */
.nxp-signalicon-:before { content: '\e964'; } /* '' */
.fa-checkicon-:before { content: '\e965'; } /* '' */
.fa-grip-dots-verticalicon-:before { content: '\e966'; } /* '' */
.nxp-lteicon-:before { content: '\e967'; } /* '' */
.nxp-smart-accessicon-:before { content: '\e968'; } /* '' */
.nxp-smart-cardicon-:before { content: '\e969'; } /* '' */
.nxp-smart-controlicon-:before { content: '\e96a'; } /* '' */
.nxp-smart-fridgeicon-:before { content: '\e96b'; } /* '' */
.nxp-smart-lockicon-:before { content: '\e96c'; } /* '' */
.nxp-smartwatch-nfcicon-:before { content: '\e96d'; } /* '' */
.nxp-smartwatchicon-:before { content: '\e96e'; } /* '' */
.nxp-softwareicon-:before { content: '\e96f'; } /* '' */
.nxp-solutionsicon-:before { content: '\e970'; } /* '' */
.nxp-speedometer-highicon-:before { content: '\e971'; } /* '' */
.nxp-speedometericon-:before { content: '\e972'; } /* '' */
.nxp-statisticsicon-:before { content: '\e973'; } /* '' */
.nxp-steeringicon-:before { content: '\e974'; } /* '' */
.nxp-stocksicon-:before { content: '\e975'; } /* '' */
.nxp-strongboxicon-:before { content: '\e976'; } /* '' */
.nxp-sunblindicon-:before { content: '\e977'; } /* '' */
.nxp-support-requesticon-:before { content: '\e978'; } /* '' */
.nxp-supporticon-:before { content: '\e979'; } /* '' */
.nxp-surveillanceicon-:before { content: '\e97a'; } /* '' */
.nxp-tabletop-contact-sensor-closedicon-:before { content: '\e97b'; } /* '' */
.nxp-tabletop-contact-sensor-openicon-:before { content: '\e97c'; } /* '' */
.nxp-tabletop-fanicon-:before { content: '\e97d'; } /* '' */
.nxp-tabletop-light-officon-:before { content: '\e97e'; } /* '' */
.nxp-tabletop-light-onicon-:before { content: '\e97f'; } /* '' */
.fa-tank-watericon-:before { content: '\e980'; } /* '' */
.nxp-tabletop-smart-lock-switch-officon-:before { content: '\e981'; } /* '' */
.nxp-tabletop-smart-lock-switch-onicon-:before { content: '\e982'; } /* '' */
.nxp-technologyicon-:before { content: '\e984'; } /* '' */
.nxp-thermostaticon-:before { content: '\e985'; } /* '' */
.nxp-ticketingicon-:before { content: '\e986'; } /* '' */
.nxp-timeicon-:before { content: '\e987'; } /* '' */
.nxp-tire-alternateicon-:before { content: '\e988'; } /* '' */
.nxp-tireicon-:before { content: '\e989'; } /* '' */
.nxp-trackericon-:before { content: '\e98a'; } /* '' */
.nxp-tradeicon-:before { content: '\e98b'; } /* '' */
.nxp-trailericon-:before { content: '\e98c'; } /* '' */
.nxp-trainingicon-:before { content: '\e98d'; } /* '' */
.nxp-transfericon-:before { content: '\e98e'; } /* '' */
.nxp-transformericon-:before { content: '\e98f'; } /* '' */
.nxp-transmissionicon-:before { content: '\e990'; } /* '' */
.nxp-transmittericon-:before { content: '\e991'; } /* '' */
.nxp-transpondericon-:before { content: '\e992'; } /* '' */
.nxp-trolleyicon-:before { content: '\e993'; } /* '' */
.nxp-tsnicon-:before { content: '\e994'; } /* '' */
.nxp-ultrasonicicon-:before { content: '\e995'; } /* '' */
.nxp-university-recruiting-1icon-:before { content: '\e996'; } /* '' */
.nxp-university-recruiting-2icon-:before { content: '\e997'; } /* '' */
.nxp-university-recruiting-3icon-:before { content: '\e998'; } /* '' */
.nxp-university-recruiting-4icon-:before { content: '\e999'; } /* '' */
.nxp-university-recruiting-5icon-:before { content: '\e99a'; } /* '' */
.nxp-university-recruiting-6icon-:before { content: '\e99b'; } /* '' */
.nxp-uploadicon-:before { content: '\e99c'; } /* '' */
.nxp-usbicon-:before { content: '\e99d'; } /* '' */
.nxp-user-authenticationicon-:before { content: '\e99e'; } /* '' */
.nxp-uwbicon-:before { content: '\e99f'; } /* '' */
.nxp-vehicle-networkingicon-:before { content: '\e9a0'; } /* '' */
.nxp-verificationicon-:before { content: '\e9a1'; } /* '' */
.nxp-vertical-automotiveicon-:before { content: '\e9a2'; } /* '' */
.nxp-vertical-comms-infrastructureicon-:before { content: '\e9a3'; } /* '' */
.nxp-vertical-industrialicon-:before { content: '\e9a4'; } /* '' */
.nxp-vertical-mobileicon-:before { content: '\e9a5'; } /* '' */
.nxp-vertical-smart-cityicon-:before { content: '\e9a6'; } /* '' */
.nxp-vertical-smart-homeicon-:before { content: '\e9a7'; } /* '' */
.nxp-voice-controlicon-:before { content: '\e9a8'; } /* '' */
.nxp-voice-enabledicon-:before { content: '\e9a9'; } /* '' */
.nxp-voltageicon-:before { content: '\e9aa'; } /* '' */
.nxp-voltmetericon-:before { content: '\e9ab'; } /* '' */
.nxp-volume-officon-:before { content: '\e9ac'; } /* '' */
.nxp-volume-on-officon-:before { content: '\e9ad'; } /* '' */
.nxp-vricon-:before { content: '\e9ae'; } /* '' */
.nxp-washing-machineicon-:before { content: '\e9af'; } /* '' */
.nxp-wearablesicon-:before { content: '\e9b0'; } /* '' */
.nxp-wireless-chargericon-:before { content: '\e9b1'; } /* '' */
.nxp-wirelessicon-:before { content: '\e9b2'; } /* '' */
.nxp-worldwide-locationicon-:before { content: '\e9b3'; } /* '' */
.nxp-tabletop-smart-lock-unlockedicon-:before { content: '\e9b4'; } /* '' */
.nxp-tabletop-smart-lock-lockedicon-:before { content: '\e9b5'; } /* '' */
