@font-face {
  font-family: 'nxp-icon';
  src: url('../font/nxp-icon.eot?41675671');
  src: url('../font/nxp-icon.eot?41675671#iefix') format('embedded-opentype'),
       url('../font/nxp-icon.woff2?41675671') format('woff2'),
       url('../font/nxp-icon.woff?41675671') format('woff'),
       url('../font/nxp-icon.ttf?41675671') format('truetype'),
       url('../font/nxp-icon.svg?41675671#nxp-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'nxp-icon';
    src: url('../font/nxp-icon.svg?41675671#nxp-icon') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "nxp-icon";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-fa-align-left:before { content: '\e800'; } /* '' */
.icon-fa-archway:before { content: '\e801'; } /* '' */
.icon-fa-arrow-down:before { content: '\e802'; } /* '' */
.icon-fa-arrow-left:before { content: '\e803'; } /* '' */
.icon-fa-arrow-right:before { content: '\e804'; } /* '' */
.icon-fa-arrow-to-right:before { content: '\e805'; } /* '' */
.icon-fa-arrow-up-arrow-down:before { content: '\e806'; } /* '' */
.icon-fa-arrow-up:before { content: '\e807'; } /* '' */
.icon-fa-badge-check:before { content: '\e808'; } /* '' */
.icon-fa-bars:before { content: '\e809'; } /* '' */
.icon-fa-battery-full:before { content: '\e80a'; } /* '' */
.icon-fa-battery-half:before { content: '\e80b'; } /* '' */
.icon-fa-battery-low:before { content: '\e80c'; } /* '' */
.icon-fa-battery-slash:before { content: '\e80d'; } /* '' */
.icon-fa-bold:before { content: '\e80e'; } /* '' */
.icon-fa-bell:before { content: '\e80f'; } /* '' */
.icon-fa-book-open:before { content: '\e810'; } /* '' */
.icon-fa-camera-web:before { content: '\e811'; } /* '' */
.icon-fa-caret-down:before { content: '\e812'; } /* '' */
.icon-fa-caret-left:before { content: '\e813'; } /* '' */
.icon-fa-caret-up:before { content: '\e814'; } /* '' */
.icon-fa-cars:before { content: '\e815'; } /* '' */
.icon-fa-chalkboard-user:before { content: '\e816'; } /* '' */
.icon-fa-check:before { content: '\e817'; } /* '' */
.icon-fa-chevron-up:before { content: '\e818'; } /* '' */
.icon-fa-circle-check:before { content: '\e819'; } /* '' */
.icon-fa-circle-info:before { content: '\e81a'; } /* '' */
.icon-fa-caret-right:before { content: '\e81b'; } /* '' */
.icon-fa-clock-five:before { content: '\e81c'; } /* '' */
.icon-fa-city:before { content: '\e81d'; } /* '' */
.icon-fa-clock-eight:before { content: '\e81e'; } /* '' */
.icon-fa-cloud-sleet:before { content: '\e81f'; } /* '' */
.icon-fa-compress:before { content: '\e820'; } /* '' */
.icon-fa-copy:before { content: '\e821'; } /* '' */
.icon-fa-crosshairs:before { content: '\e822'; } /* '' */
.icon-fa-diamond-turn-right:before { content: '\e823'; } /* '' */
.icon-fa-edit:before { content: '\e824'; } /* '' */
.icon-fa-conveyor-belt-empty:before { content: '\e825'; } /* '' */
.icon-fa-close:before { content: '\e826'; } /* '' */
.icon-fa-ellipsis-vertical:before { content: '\e827'; } /* '' */
.icon-fa-expand:before { content: '\e828'; } /* '' */
.icon-fa-external-link:before { content: '\e829'; } /* '' */
.icon-fa-eye-slash-1:before { content: '\e82a'; } /* '' */
.icon-fa-eye-slash:before { content: '\e82b'; } /* '' */
.icon-fa-face-smile:before { content: '\e82c'; } /* '' */
.icon-fa-eye:before { content: '\e82d'; } /* '' */
.icon-fa-filter:before { content: '\e82e'; } /* '' */
.icon-fa-gauge-low:before { content: '\e82f'; } /* '' */
.icon-fa-gauge-med:before { content: '\e830'; } /* '' */
.icon-fa-file-certificate:before { content: '\e831'; } /* '' */
.icon-fa-gauge-min:before { content: '\e832'; } /* '' */
.icon-fa-gauge-simple-max:before { content: '\e833'; } /* '' */
.icon-fa-gauge-simple-med:before { content: '\e834'; } /* '' */
.icon-fa-face-meh:before { content: '\e835'; } /* '' */
.icon-fa-gauge:before { content: '\e836'; } /* '' */
.icon-fa-gauge-simple-min:before { content: '\e837'; } /* '' */
.icon-fa-gavel:before { content: '\e838'; } /* '' */
.icon-fa-glasses-round:before { content: '\e839'; } /* '' */
.icon-fa-globe:before { content: '\e83a'; } /* '' */
.icon-fa-grip-dots-vertical:before { content: '\e83b'; } /* '' */
.icon-fa-hand-pointer:before { content: '\e83c'; } /* '' */
.icon-fa-hand-wave:before { content: '\e83d'; } /* '' */
.icon-fa-heart-pulse:before { content: '\e83e'; } /* '' */
.icon-fa-hourglass:before { content: '\e83f'; } /* '' */
.icon-fa-heart:before { content: '\e840'; } /* '' */
.icon-fa-italic:before { content: '\e841'; } /* '' */
.icon-fa-laptop-mobile:before { content: '\e842'; } /* '' */
.icon-fa-leaf-heart:before { content: '\e843'; } /* '' */
.icon-fa-link:before { content: '\e844'; } /* '' */
.icon-fa-list-check:before { content: '\e845'; } /* '' */
.icon-fa-long-arrow-right:before { content: '\e846'; } /* '' */
.icon-fa-key:before { content: '\e847'; } /* '' */
.icon-fa-mars:before { content: '\e848'; } /* '' */
.icon-fa-microchip:before { content: '\e849'; } /* '' */
.icon-fa-mobile-signal:before { content: '\e84a'; } /* '' */
.icon-fa-pause:before { content: '\e84b'; } /* '' */
.icon-fa-motorcycle:before { content: '\e84c'; } /* '' */
.icon-fa-person-digging:before { content: '\e84d'; } /* '' */
.icon-fa-person-simple:before { content: '\e84e'; } /* '' */
.icon-fa-play-circle:before { content: '\e84f'; } /* '' */
.icon-fa-play:before { content: '\e850'; } /* '' */
.icon-fa-phone-flip:before { content: '\e851'; } /* '' */
.icon-fa-plus:before { content: '\e852'; } /* '' */
.icon-fa-rectangles-mixed:before { content: '\e853'; } /* '' */
.icon-fa-question:before { content: '\e854'; } /* '' */
.icon-fa-plug:before { content: '\e855'; } /* '' */
.icon-fa-route:before { content: '\e856'; } /* '' */
.icon-fa-search:before { content: '\e857'; } /* '' */
.icon-fa-long-arrow-left:before { content: '\e858'; } /* '' */
.icon-fa-search-plus:before { content: '\e859'; } /* '' */
.icon-fa-sensor:before { content: '\e85a'; } /* '' */
.icon-fa-redo:before { content: '\e85b'; } /* '' */
.icon-fa-share-nodes:before { content: '\e85c'; } /* '' */
.icon-fa-sign-out:before { content: '\e85d'; } /* '' */
.icon-fa-sitemap:before { content: '\e85e'; } /* '' */
.icon-fa-skull:before { content: '\e85f'; } /* '' */
.icon-fa-sensor-cloud:before { content: '\e860'; } /* '' */
.icon-fa-spinner:before { content: '\e861'; } /* '' */
.icon-fa-sparkles:before { content: '\e862'; } /* '' */
.icon-fa-speaker:before { content: '\e863'; } /* '' */
.icon-fa-step-backward:before { content: '\e864'; } /* '' */
.icon-fa-stopwatch:before { content: '\e865'; } /* '' */
.icon-fa-step-forward:before { content: '\e866'; } /* '' */
.icon-fa-tank-water:before { content: '\e867'; } /* '' */
.icon-fa-temperature-full:before { content: '\e868'; } /* '' */
.icon-fa-temperature-half:before { content: '\e869'; } /* '' */
.icon-fa-temperature-quarter:before { content: '\e86a'; } /* '' */
.icon-fa-trash:before { content: '\e86b'; } /* '' */
.icon-fa-tree-deciduous:before { content: '\e86c'; } /* '' */
.icon-fa-triangle-exclamation:before { content: '\e86d'; } /* '' */
.icon-fa-unlock-keyhole:before { content: '\e86e'; } /* '' */
.icon-fa-user-large:before { content: '\e86f'; } /* '' */
.icon-fa-venus:before { content: '\e870'; } /* '' */
.icon-fa-video-1:before { content: '\e871'; } /* '' */
.icon-fa-video-slash:before { content: '\e872'; } /* '' */
.icon-fa-video:before { content: '\e873'; } /* '' */
.icon-fa-volume-low:before { content: '\e874'; } /* '' */
.icon-fa-volume-mute:before { content: '\e875'; } /* '' */
.icon-fa-volume:before { content: '\e876'; } /* '' */
.icon-fa-watch-apple:before { content: '\e877'; } /* '' */
.icon-fa-wave-pulse:before { content: '\e878'; } /* '' */
.icon-fa-waveform-lines:before { content: '\e879'; } /* '' */
.icon-fa-wifi-fair:before { content: '\e87a'; } /* '' */
.icon-fa-wifi-slash:before { content: '\e87b'; } /* '' */
.icon-fa-wifi:before { content: '\e87c'; } /* '' */
.icon-nxp-5g:before { content: '\e87d'; } /* '' */
.icon-nxp-360:before { content: '\e87e'; } /* '' */
.icon-nxp-abs:before { content: '\e87f'; } /* '' */
.icon-nxp-access:before { content: '\e880'; } /* '' */
.icon-nxp-adas:before { content: '\e881'; } /* '' */
.icon-nxp-aerospace:before { content: '\e882'; } /* '' */
.icon-nxp-ai-ml:before { content: '\e883'; } /* '' */
.icon-nxp-ai:before { content: '\e884'; } /* '' */
.icon-nxp-airbag:before { content: '\e885'; } /* '' */
.icon-nxp-alert:before { content: '\e886'; } /* '' */
.icon-nxp-amazon:before { content: '\e887'; } /* '' */
.icon-nxp-analog-signal:before { content: '\e888'; } /* '' */
.icon-nxp-analog:before { content: '\e889'; } /* '' */
.icon-nxp-app:before { content: '\e88a'; } /* '' */
.icon-nxp-apple:before { content: '\e88b'; } /* '' */
.icon-nxp-appliance-connected:before { content: '\e88c'; } /* '' */
.icon-nxp-audio:before { content: '\e88d'; } /* '' */
.icon-nxp-authentication:before { content: '\e88e'; } /* '' */
.icon-nxp-auto-edge:before { content: '\e88f'; } /* '' */
.icon-nxp-automated:before { content: '\e890'; } /* '' */
.icon-nxp-automation:before { content: '\e891'; } /* '' */
.icon-nxp-battery_1:before { content: '\e892'; } /* '' */
.icon-nxp-battery-system:before { content: '\e893'; } /* '' */
.icon-nxp-battery:before { content: '\e894'; } /* '' */
.icon-nxp-biometric:before { content: '\e895'; } /* '' */
.icon-nxp-bluetooth:before { content: '\e896'; } /* '' */
.icon-nxp-brake-system-alternative:before { content: '\e897'; } /* '' */
.icon-nxp-brake-system:before { content: '\e898'; } /* '' */
.icon-nxp-build:before { content: '\e899'; } /* '' */
.icon-nxp-building-control:before { content: '\e89a'; } /* '' */
.icon-nxp-buy-direct:before { content: '\e89b'; } /* '' */
.icon-nxp-car-eco:before { content: '\e89c'; } /* '' */
.icon-nxp-car:before { content: '\e89d'; } /* '' */
.icon-nxp-card:before { content: '\e89e'; } /* '' */
.icon-nxp-careers:before { content: '\e89f'; } /* '' */
.icon-nxp-charge-station:before { content: '\e8a0'; } /* '' */
.icon-nxp-charging-pad:before { content: '\e8a1'; } /* '' */
.icon-nxp-chat:before { content: '\e8a2'; } /* '' */
.icon-nxp-circuit:before { content: '\e8a3'; } /* '' */
.icon-nxp-cloud-authentication:before { content: '\e8a4'; } /* '' */
.icon-nxp-cloud-connectivity:before { content: '\e8a5'; } /* '' */
.icon-nxp-cloud-security:before { content: '\e8a6'; } /* '' */
.icon-nxp-cloud:before { content: '\e8a7'; } /* '' */
.icon-nxp-cockpit:before { content: '\e8a8'; } /* '' */
.icon-nxp-code:before { content: '\e8a9'; } /* '' */
.icon-nxp-comm-solutions:before { content: '\e8aa'; } /* '' */
.icon-nxp-communications-1:before { content: '\e8ab'; } /* '' */
.icon-nxp-communications-2:before { content: '\e8ac'; } /* '' */
.icon-nxp-communications-3:before { content: '\e8ad'; } /* '' */
.icon-nxp-communications-4:before { content: '\e8ae'; } /* '' */
.icon-nxp-communications-5:before { content: '\e8af'; } /* '' */
.icon-nxp-communications-6:before { content: '\e8b0'; } /* '' */
.icon-nxp-communications-7:before { content: '\e8b1'; } /* '' */
.icon-nxp-communications-8:before { content: '\e8b2'; } /* '' */
.icon-nxp-community:before { content: '\e8b3'; } /* '' */
.icon-nxp-connections:before { content: '\e8b4'; } /* '' */
.icon-nxp-connectivity.solution:before { content: '\e8b5'; } /* '' */
.icon-nxp-connectivity:before { content: '\e8b6'; } /* '' */
.icon-nxp-contact-reader:before { content: '\e8b7'; } /* '' */
.icon-nxp-control:before { content: '\e8b8'; } /* '' */
.icon-nxp-cooking:before { content: '\e8b9'; } /* '' */
.icon-nxp-corperate-governance:before { content: '\e8ba'; } /* '' */
.icon-nxp-course:before { content: '\e8bb'; } /* '' */
.icon-nxp-cross-traffic:before { content: '\e8bc'; } /* '' */
.icon-nxp-dashboard:before { content: '\e8bd'; } /* '' */
.icon-nxp-data-reception:before { content: '\e8be'; } /* '' */
.icon-nxp-decreased-alternate:before { content: '\e8bf'; } /* '' */
.icon-nxp-decreased:before { content: '\e8c0'; } /* '' */
.icon-nxp-defrosting:before { content: '\e8c1'; } /* '' */
.icon-nxp-design-resources:before { content: '\e8c2'; } /* '' */
.icon-nxp-development-time:before { content: '\e8c3'; } /* '' */
.icon-nxp-diagram:before { content: '\e8c4'; } /* '' */
.icon-nxp-dishwasher:before { content: '\e8c5'; } /* '' */
.icon-nxp-display:before { content: '\e8c6'; } /* '' */
.icon-nxp-distributors:before { content: '\e8c7'; } /* '' */
.icon-nxp-domain:before { content: '\e8c8'; } /* '' */
.icon-nxp-download:before { content: '\e8c9'; } /* '' */
.icon-nxp-driver-replacement:before { content: '\e8ca'; } /* '' */
.icon-nxp-drone:before { content: '\e8cb'; } /* '' */
.icon-nxp-e-reader:before { content: '\e8cc'; } /* '' */
.icon-nxp-ecosystem:before { content: '\e8cd'; } /* '' */
.icon-nxp-edge-cloud:before { content: '\e8ce'; } /* '' */
.icon-nxp-edgeverse:before { content: '\e8cf'; } /* '' */
.icon-nxp-electric:before { content: '\e8d0'; } /* '' */
.icon-nxp-encryption:before { content: '\e8d1'; } /* '' */
.icon-nxp-energy-balance:before { content: '\e8d2'; } /* '' */
.icon-nxp-energy-charge:before { content: '\e8d3'; } /* '' */
.icon-nxp-energy:before { content: '\e8d4'; } /* '' */
.icon-nxp-ethernet:before { content: '\e8d5'; } /* '' */
.icon-nxp-ev-engine:before { content: '\e8d6'; } /* '' */
.icon-nxp-everything-aware:before { content: '\e8d7'; } /* '' */
.icon-nxp-everything-connected:before { content: '\e8d8'; } /* '' */
.icon-nxp-everything-efficient:before { content: '\e8d9'; } /* '' */
.icon-nxp-everything-safe-and-secure:before { content: '\e8da'; } /* '' */
.icon-nxp-everything-smart:before { content: '\e8db'; } /* '' */
.icon-nxp-expandable:before { content: '\e8dc'; } /* '' */
.icon-nxp-factory-automation:before { content: '\e8dd'; } /* '' */
.icon-nxp-file:before { content: '\e8de'; } /* '' */
.icon-nxp-financial-1:before { content: '\e8df'; } /* '' */
.icon-nxp-financial-2:before { content: '\e8e0'; } /* '' */
.icon-nxp-financial-3:before { content: '\e8e1'; } /* '' */
.icon-nxp-financial-4:before { content: '\e8e2'; } /* '' */
.icon-nxp-financial-5:before { content: '\e8e3'; } /* '' */
.icon-nxp-financial-6:before { content: '\e8e4'; } /* '' */
.icon-nxp-financial-7-1:before { content: '\e8e5'; } /* '' */
.icon-nxp-financial-7:before { content: '\e8e6'; } /* '' */
.icon-nxp-financial-8:before { content: '\e8e7'; } /* '' */
.icon-nxp-financial-9:before { content: '\e8e8'; } /* '' */
.icon-nxp-financial-10:before { content: '\e8e9'; } /* '' */
.icon-nxp-financial-11:before { content: '\e8ea'; } /* '' */
.icon-nxp-financial-12:before { content: '\e8eb'; } /* '' */
.icon-nxp-financial-13:before { content: '\e8ec'; } /* '' */
.icon-nxp-financial-14:before { content: '\e8ed'; } /* '' */
.icon-nxp-financial-infos:before { content: '\e8ee'; } /* '' */
.icon-nxp-firewall:before { content: '\e8ef'; } /* '' */
.icon-nxp-fuel:before { content: '\e8f0'; } /* '' */
.icon-nxp-gaming:before { content: '\e8f1'; } /* '' */
.icon-nxp-get-started:before { content: '\e8f2'; } /* '' */
.icon-nxp-google:before { content: '\e8f3'; } /* '' */
.icon-nxp-handheld-radio:before { content: '\e8f4'; } /* '' */
.icon-nxp-headlight:before { content: '\e8f5'; } /* '' */
.icon-nxp-health-control:before { content: '\e8f6'; } /* '' */
.icon-nxp-health:before { content: '\e8f7'; } /* '' */
.icon-nxp-hearables:before { content: '\e8f8'; } /* '' */
.icon-nxp-high-voltage:before { content: '\e8f9'; } /* '' */
.icon-nxp-hmi:before { content: '\e8fa'; } /* '' */
.icon-nxp-home-connecivity-solutions:before { content: '\e8fb'; } /* '' */
.icon-nxp-home-connectivity-solutions:before { content: '\e8fc'; } /* '' */
.icon-nxp-hr-benefits-1:before { content: '\e8fd'; } /* '' */
.icon-nxp-hr-benefits-2:before { content: '\e8fe'; } /* '' */
.icon-nxp-hr-benefits-3:before { content: '\e8ff'; } /* '' */
.icon-nxp-hr-benefits-4:before { content: '\e900'; } /* '' */
.icon-nxp-hr-benefits-5:before { content: '\e901'; } /* '' */
.icon-nxp-hr-benefits-6:before { content: '\e902'; } /* '' */
.icon-nxp-hr-benefits-7:before { content: '\e903'; } /* '' */
.icon-nxp-hr-benefits-8:before { content: '\e904'; } /* '' */
.icon-nxp-hr-benefits-9:before { content: '\e905'; } /* '' */
.icon-nxp-hvac-temp:before { content: '\e906'; } /* '' */
.icon-nxp-hvac:before { content: '\e907'; } /* '' */
.icon-nxp-hybrid:before { content: '\e908'; } /* '' */
.icon-nxp-id-card:before { content: '\e909'; } /* '' */
.icon-nxp-id-device:before { content: '\e90a'; } /* '' */
.icon-nxp-id-ehid:before { content: '\e90b'; } /* '' */
.icon-nxp-id-eid:before { content: '\e90c'; } /* '' */
.icon-nxp-id-epp:before { content: '\e90d'; } /* '' */
.icon-nxp-id-evl:before { content: '\e90e'; } /* '' */
.icon-nxp-id-fingerprint:before { content: '\e90f'; } /* '' */
.icon-nxp-id-os:before { content: '\e910'; } /* '' */
.icon-nxp-id-rfid:before { content: '\e911'; } /* '' */
.icon-nxp-increased-alternate:before { content: '\e912'; } /* '' */
.icon-nxp-increased:before { content: '\e913'; } /* '' */
.icon-nxp-industry:before { content: '\e914'; } /* '' */
.icon-nxp-information_1:before { content: '\e915'; } /* '' */
.icon-nxp-information:before { content: '\e916'; } /* '' */
.icon-nxp-infotainment:before { content: '\e917'; } /* '' */
.icon-nxp-innovation:before { content: '\e918'; } /* '' */
.icon-nxp-international:before { content: '\e919'; } /* '' */
.icon-nxp-inventory:before { content: '\e91a'; } /* '' */
.icon-nxp-investor-relations:before { content: '\e91b'; } /* '' */
.icon-nxp-iot-security:before { content: '\e91c'; } /* '' */
.icon-nxp-iot:before { content: '\e91d'; } /* '' */
.icon-nxp-labeling:before { content: '\e91e'; } /* '' */
.icon-nxp-legal-1:before { content: '\e91f'; } /* '' */
.icon-nxp-legal-2:before { content: '\e920'; } /* '' */
.icon-nxp-legal-3:before { content: '\e921'; } /* '' */
.icon-nxp-legal-4:before { content: '\e922'; } /* '' */
.icon-nxp-legal-5:before { content: '\e923'; } /* '' */
.icon-nxp-legal-6:before { content: '\e924'; } /* '' */
.icon-nxp-legal-7:before { content: '\e925'; } /* '' */
.icon-nxp-legal-8:before { content: '\e926'; } /* '' */
.icon-nxp-legal-9:before { content: '\e927'; } /* '' */
.icon-nxp-legal-10:before { content: '\e928'; } /* '' */
.icon-nxp-legal-11:before { content: '\e929'; } /* '' */
.icon-nxp-legal-12:before { content: '\e92a'; } /* '' */
.icon-nxp-legal-13:before { content: '\e92b'; } /* '' */
.icon-nxp-light:before { content: '\e92c'; } /* '' */
.icon-nxp-lighting:before { content: '\e92d'; } /* '' */
.icon-nxp-location:before { content: '\e92e'; } /* '' */
.icon-nxp-lte:before { content: '\e92f'; } /* '' */
.icon-nxp-lv-hv:before { content: '\e930'; } /* '' */
.icon-nxp-management:before { content: '\e931'; } /* '' */
.icon-nxp-mcu:before { content: '\e932'; } /* '' */
.icon-nxp-media-center:before { content: '\e933'; } /* '' */
.icon-nxp-micro-3:before { content: '\e934'; } /* '' */
.icon-nxp-micro-performance:before { content: '\e935'; } /* '' */
.icon-nxp-micro:before { content: '\e936'; } /* '' */
.icon-nxp-microchip-check:before { content: '\e937'; } /* '' */
.icon-nxp-ml:before { content: '\e938'; } /* '' */
.icon-nxp-mobile-connection:before { content: '\e939'; } /* '' */
.icon-nxp-mobile-key:before { content: '\e93a'; } /* '' */
.icon-nxp-mobile-nfc:before { content: '\e93b'; } /* '' */
.icon-nxp-mobile-payment-1:before { content: '\e93c'; } /* '' */
.icon-nxp-mobile-payment:before { content: '\e93d'; } /* '' */
.icon-nxp-mobile-security:before { content: '\e93e'; } /* '' */
.icon-nxp-mobile-wallet:before { content: '\e93f'; } /* '' */
.icon-nxp-module-empty:before { content: '\e940'; } /* '' */
.icon-nxp-module-full:before { content: '\e941'; } /* '' */
.icon-nxp-money-alternate:before { content: '\e942'; } /* '' */
.icon-nxp-money:before { content: '\e943'; } /* '' */
.icon-nxp-motion:before { content: '\e944'; } /* '' */
.icon-nxp-motor-control:before { content: '\e945'; } /* '' */
.icon-nxp-motor:before { content: '\e946'; } /* '' */
.icon-nxp-music:before { content: '\e947'; } /* '' */
.icon-nxp-network-security:before { content: '\e948'; } /* '' */
.icon-nxp-network:before { content: '\e949'; } /* '' */
.icon-nxp-neural-network:before { content: '\e94a'; } /* '' */
.icon-nxp-night-vision:before { content: '\e94b'; } /* '' */
.icon-nxp-notebook:before { content: '\e94c'; } /* '' */
.icon-nxp-npx-design:before { content: '\e94d'; } /* '' */
.icon-nxp-nxp-bluebox:before { content: '\e94e'; } /* '' */
.icon-nxp-nxp-greenbox:before { content: '\e94f'; } /* '' */
.icon-nxp-on:before { content: '\e950'; } /* '' */
.icon-nxp-parking-assist:before { content: '\e951'; } /* '' */
.icon-nxp-parking:before { content: '\e952'; } /* '' */
.icon-nxp-passenger-data:before { content: '\e953'; } /* '' */
.icon-nxp-payment:before { content: '\e954'; } /* '' */
.icon-nxp-pc-connect:before { content: '\e955'; } /* '' */
.icon-nxp-performance:before { content: '\e956'; } /* '' */
.icon-nxp-peripherals:before { content: '\e957'; } /* '' */
.icon-nxp-phone-key-timer:before { content: '\e958'; } /* '' */
.icon-nxp-phone-key:before { content: '\e959'; } /* '' */
.icon-nxp-plane:before { content: '\e95a'; } /* '' */
.icon-nxp-plc:before { content: '\e95b'; } /* '' */
.icon-nxp-pos:before { content: '\e95c'; } /* '' */
.icon-nxp-power-connection:before { content: '\e95d'; } /* '' */
.icon-nxp-powertrain:before { content: '\e95e'; } /* '' */
.icon-nxp-precaution:before { content: '\e95f'; } /* '' */
.icon-nxp-process-automation:before { content: '\e960'; } /* '' */
.icon-nxp-processor:before { content: '\e961'; } /* '' */
.icon-nxp-product-samples:before { content: '\e962'; } /* '' */
.icon-nxp-product-selector:before { content: '\e963'; } /* '' */
.icon-nxp-prototyping:before { content: '\e964'; } /* '' */
.icon-nxp-proximity-sensor:before { content: '\e965'; } /* '' */
.icon-nxp-radar-fusion:before { content: '\e966'; } /* '' */
.icon-nxp-radar:before { content: '\e967'; } /* '' */
.icon-nxp-range-low:before { content: '\e968'; } /* '' */
.icon-nxp-refrigerator:before { content: '\e969'; } /* '' */
.icon-nxp-remote-start:before { content: '\e96a'; } /* '' */
.icon-nxp-replicate:before { content: '\e96b'; } /* '' */
.icon-nxp-retail:before { content: '\e96c'; } /* '' */
.icon-nxp-rf:before { content: '\e96d'; } /* '' */
.icon-nxp-robotics:before { content: '\e96e'; } /* '' */
.icon-nxp-route-loading:before { content: '\e96f'; } /* '' */
.icon-nxp-safe:before { content: '\e970'; } /* '' */
.icon-nxp-safety:before { content: '\e971'; } /* '' */
.icon-nxp-scalable:before { content: '\e972'; } /* '' */
.icon-nxp-scanner:before { content: '\e973'; } /* '' */
.icon-nxp-screen:before { content: '\e974'; } /* '' */
.icon-nxp-secure-things:before { content: '\e975'; } /* '' */
.icon-nxp-security:before { content: '\e976'; } /* '' */
.icon-nxp-sensor:before { content: '\e977'; } /* '' */
.icon-nxp-signal:before { content: '\e978'; } /* '' */
.icon-nxp-smart-access:before { content: '\e979'; } /* '' */
.icon-nxp-smart-card:before { content: '\e97a'; } /* '' */
.icon-nxp-smart-control:before { content: '\e97b'; } /* '' */
.icon-nxp-smart-fridge:before { content: '\e97c'; } /* '' */
.icon-nxp-smart-lock:before { content: '\e97d'; } /* '' */
.icon-nxp-smartwatch-nfc:before { content: '\e97e'; } /* '' */
.icon-nxp-smartwatch:before { content: '\e97f'; } /* '' */
.icon-nxp-software:before { content: '\e980'; } /* '' */
.icon-nxp-solutions:before { content: '\e981'; } /* '' */
.icon-nxp-speedometer-high:before { content: '\e982'; } /* '' */
.icon-nxp-speedometer:before { content: '\e983'; } /* '' */
.icon-nxp-statistics:before { content: '\e984'; } /* '' */
.icon-nxp-steering:before { content: '\e985'; } /* '' */
.icon-nxp-stocks:before { content: '\e986'; } /* '' */
.icon-nxp-strongbox:before { content: '\e987'; } /* '' */
.icon-nxp-sunblind:before { content: '\e988'; } /* '' */
.icon-nxp-support-request:before { content: '\e989'; } /* '' */
.icon-nxp-support:before { content: '\e98a'; } /* '' */
.icon-nxp-surveillance:before { content: '\e98b'; } /* '' */
.icon-nxp-tabletop-contact-sensor-closed:before { content: '\e98c'; } /* '' */
.icon-nxp-tabletop-contact-sensor-open:before { content: '\e98d'; } /* '' */
.icon-nxp-tabletop-fan:before { content: '\e98e'; } /* '' */
.icon-nxp-tabletop-light-off:before { content: '\e98f'; } /* '' */
.icon-nxp-tabletop-light-on:before { content: '\e990'; } /* '' */
.icon-nxp-tabletop-smart-lock-locked:before { content: '\e991'; } /* '' */
.icon-nxp-tabletop-smart-lock-switch-off:before { content: '\e992'; } /* '' */
.icon-nxp-tabletop-smart-lock-switch-on:before { content: '\e993'; } /* '' */
.icon-nxp-tabletop-smart-lock-unlocked:before { content: '\e994'; } /* '' */
.icon-nxp-technology:before { content: '\e995'; } /* '' */
.icon-nxp-thermostat:before { content: '\e996'; } /* '' */
.icon-nxp-ticketing:before { content: '\e997'; } /* '' */
.icon-nxp-time:before { content: '\e998'; } /* '' */
.icon-nxp-tire-alternate:before { content: '\e999'; } /* '' */
.icon-nxp-tire:before { content: '\e99a'; } /* '' */
.icon-nxp-tracker:before { content: '\e99b'; } /* '' */
.icon-nxp-trade:before { content: '\e99c'; } /* '' */
.icon-nxp-trailer:before { content: '\e99d'; } /* '' */
.icon-nxp-training:before { content: '\e99e'; } /* '' */
.icon-nxp-transfer:before { content: '\e99f'; } /* '' */
.icon-nxp-transformer:before { content: '\e9a0'; } /* '' */
.icon-nxp-transmission:before { content: '\e9a1'; } /* '' */
.icon-nxp-transmitter:before { content: '\e9a2'; } /* '' */
.icon-nxp-transponder:before { content: '\e9a3'; } /* '' */
.icon-nxp-trolley:before { content: '\e9a4'; } /* '' */
.icon-nxp-tsn:before { content: '\e9a5'; } /* '' */
.icon-nxp-ultrasonic:before { content: '\e9a6'; } /* '' */
.icon-nxp-university-recruiting-1:before { content: '\e9a7'; } /* '' */
.icon-nxp-university-recruiting-2:before { content: '\e9a8'; } /* '' */
.icon-nxp-university-recruiting-3:before { content: '\e9a9'; } /* '' */
.icon-nxp-university-recruiting-4:before { content: '\e9aa'; } /* '' */
.icon-nxp-university-recruiting-5:before { content: '\e9ab'; } /* '' */
.icon-nxp-university-recruiting-6:before { content: '\e9ac'; } /* '' */
.icon-nxp-upload:before { content: '\e9ad'; } /* '' */
.icon-nxp-usb:before { content: '\e9ae'; } /* '' */
.icon-nxp-user-authentication:before { content: '\e9af'; } /* '' */
.icon-nxp-uwb:before { content: '\e9b0'; } /* '' */
.icon-nxp-vehicle-networking:before { content: '\e9b1'; } /* '' */
.icon-nxp-verification:before { content: '\e9b2'; } /* '' */
.icon-nxp-vertical-automotive:before { content: '\e9b3'; } /* '' */
.icon-nxp-vertical-comms-infrastructure:before { content: '\e9b4'; } /* '' */
.icon-nxp-vertical-industrial:before { content: '\e9b5'; } /* '' */
.icon-nxp-vertical-mobile:before { content: '\e9b6'; } /* '' */
.icon-nxp-vertical-smart-city:before { content: '\e9b7'; } /* '' */
.icon-nxp-vertical-smart-home:before { content: '\e9b8'; } /* '' */
.icon-nxp-voice-control:before { content: '\e9b9'; } /* '' */
.icon-nxp-voice-enabled:before { content: '\e9ba'; } /* '' */
.icon-nxp-voltage:before { content: '\e9bb'; } /* '' */
.icon-nxp-voltmeter:before { content: '\e9bc'; } /* '' */
.icon-nxp-volume-off:before { content: '\e9bd'; } /* '' */
.icon-nxp-volume-on-off:before { content: '\e9be'; } /* '' */
.icon-nxp-vr:before { content: '\e9bf'; } /* '' */
.icon-nxp-washing-machine:before { content: '\e9c0'; } /* '' */
.icon-nxp-wearables:before { content: '\e9c1'; } /* '' */
.icon-nxp-wireless-charger:before { content: '\e9c2'; } /* '' */
.icon-nxp-wireless:before { content: '\e9c3'; } /* '' */
.icon-nxp-worldwide-location:before { content: '\e9c4'; } /* '' */
.icon-fa-circle-check-ui:before { content: '\e9c5'; } /* '' */
.icon-fa-circle-exclamation-bold-ui:before { content: '\e9c6'; } /* '' */
.icon-fa-circle-exclamation-ui:before { content: '\e9c7'; } /* '' */
.icon-fa-circle-xmark-ui:before { content: '\e9c8'; } /* '' */
.icon-nxp-ac:before { content: '\e9c9'; } /* '' */
.icon-nxp-dc:before { content: '\e9ca'; } /* '' */
